html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {

  background-color: rgb(180, 50, 50);

}

#main_body {

  background-color: white;
  margin:auto;
  width:90%;

}

#calculator {

  position: relative;
  background-color: rgb(240, 245, 245);
  border: 1px solid rgb(180, 180, 180);
  margin-left: 30px;
  width: 750px;
  padding: 12px;
  padding-top: 20px;
  padding-bottom: 20px;

}

#bottom_buttons {

  float:right;
  position: absolute;
  bottom: 20px;
  right: 12px;

}

#bottom_stripe {

  height: 40px;
  background-color: rgb(50, 50, 50);

}

.grey_stripe {

  background-color: rgb(50, 50, 50);

}

table {

  font-family: Times, serif;
  font-size: 14px;
  border-collapse: collapse;

}

td {

  width: 20%;
  border: 1px solid rgb(180, 180, 180);
  text-align: left;
  padding: 8px;
  padding-top: 0px;

}

th {

  width: 20%%;
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(180, 180, 180);
  text-align: left;
  padding: 2px;
  padding-left: 5px;

}

input {

  width: 70px;
  height: 30px;
  background-color: white;
  margin-top: 8px;

}

.button {

  width: auto;
  height: 25px;
  background-color: rgb(180, 50, 50);
  color: white;

}

h1 {

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 25px;
  margin-left: 32px;

}

h2 {

  color: rgb(180, 50, 50);
  font-family: Times, serif;
  font-size: 18px;

}

p {

  font-family: Times, serif;
  font-size: 16px;

}
