<div>
  <h1 id="welcome"> TOKIMON </t1>
</div>

<p>This is a database of all registered Tokimons, and licenced Tokimon trainers.</p>
<p>Any Tokimon not in this database either has no trainer, or is owned illegally.</p>
<p>Please report any unregistered Tokimon to the Tokimon Collection Agency.</p>
<p>This application also allows for simulated battles between Tokimons.</p>
