<div class="top">
  <h1> Go the the page /calculator for assignment 1 solution
</div>

<!--<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <p></p>
    <a type="button" class="btn-primary" href="https://devcenter.heroku.com/articles/getting-started-with-ruby"><span class="glyphicon glyphicon-flash"></span> Button</a>
    <div class="test">
      <h2>Test</h2>
    </div>
  </div>
</div>-->

<div class="timeBox">
  <h1 id="timeTitle">My First JavaScript</h1>
  <button type="button"
  onclick="document.getElementById('demo').innerHTML = Date()" class = timeButton>
  Click me to display Date and Time.</button>
  <p></p>
  <p id="demo"></p>
</div>


<button onclick="document.getElementById('myImage').src='<%= asset_path('pic_bulbon.gif') %>'">Turn on the light</button>

<button onclick="document.getElementById('myImage').src='<%= asset_path('pic_bulboff.gif') %>'">Turn off the light</button>


<img id="myImage" src="<%= asset_path('pic_bulbon.gif') %>" style="width:100px">
