<!DOCTYPE html>
<html>
<head>
<title>Tokimon</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

<p>
  <a href="/tokimons">Tokimons</a> <a href="/trainers">Trainer</a>  <a href="/battle">Battle</a>
</p>
<p>&nbsp;</p>

<%= yield %>

</body>
</html>
