<!DOCTYPE html>
<html>
<head>
<title>Tokimon</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

<p id="top">
  <a class="top_links" href="/">Home</a> <a class="top_links" href="/tokimons">Tokimons</a> <a class="top_links" href="/trainers">Trainer</a>  <a  class="top_links" href="/battles">Battle</a>
</p>
<p>&nbsp;</p>

<%= yield %>

</body>
</html>
